@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

:root {
  --theme-background: #202020;
  --font-color: #fff;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/img.webp") center center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

#loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: var(--theme-background);
  z-index: 999;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#spinner {
  animation: rotate 0.56s infinite linear;
  width: 50px;
  height: 50px;
  border: 12px solid #fff;
  border-bottom: 12px solid var(--theme-background);
  border-radius: 50%;
  margin: 0;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#box {
  width: 100vw;
  height: 100vh;
  z-index: 9;
  position: fixed;
  top: 0;
}

#box div {
  width: 16.66vw;
  height: 100%;
  display: inline-block;
}

.box1 {
  background: var(--theme-background);
}

.box2 {
  background: var(--theme-background);
  margin-left: -5px;
}

#menu {
  width: 100%;
  text-align: center;
  margin: 6vh 0;
  display: none;
}

#menu a {
  margin: 0 6%;
  font-size: 19px;
  color: #fff;
  text-decoration: underline;
}

#middle {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  text-align: center;
  z-index: 1;
  color: #fff;
  padding-bottom: 10vh;
}

#middle h1 {
  color: var(--font-color);
  font-size: 70px;
}

#about {
  width: 10vw;
  height: 10vw;
  text-align: center;
  font-size: 25px;
  transform: rotate(-90deg);
  background: transparent;
  color: var(--font-color);
  position: fixed;
  left: 0;
  bottom: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 4;
  transition: 0.4s ease-in-out;
  border-radius: 0 0 100px 100px;
}

.aboutMe {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.aboutMe > img {
  margin-top: 1.7em;
  max-width: 60%;
  height: auto;
  border-radius: 5%;
}

.skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#skills-icons {
  margin-left: 3em;
}

#skills {
  width: 10vw;
  height: 10vw;
  text-align: center;
  font-size: 25px;
  background: transparent;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 45vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 4;
  transition: 0.4s ease-in-out;
  border-radius: 100px 100px 0px 0px;
}

#skills:hover {
  background: var(--theme-background);
  cursor: pointer;
}

#work {
  width: 10vw;
  height: 10vw;
  text-align: center;
  font-size: 25px;
  transform: rotate(90deg);
  background: transparent;
  color: #fff;
  position: fixed;
  right: 0;
  bottom: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 4;
  transition: 0.4s ease-in-out;
  border-radius: 0 0 100px 100px;
}

#work_container {
  background: linear-gradient(to right, #131313, #202020);
}

#about_container {
  background: linear-gradient(to right, #131313, #202020);
}

.workSection {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5em;
}

@media only screen and (min-width: 500px) {
  .workSection {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 850px) {
  .workSection {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card {
  position: relative;
  height: 24em;
  perspective: 150em;
}

.card__side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 23em;
  backface-visibility: hidden;
  transition: all 0.6s ease;
}
.card__side--front {
  color: #eee;
}
.card__description > h2 {
  text-shadow: 1em 1em 2em rgba(0, 0, 0, 0.2);
}
.card__side--back {
  color: #fff;
  transform: rotateY(180deg);
}
.card__side--front-1 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
.card__side--front-2 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}
.card__side--front-3 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}
.card__side--back-1 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
.card__side--back-2 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}
.card__side--back-3 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotate(0);
}
.card__description {
  padding: 1em;
}

.card__description a {
  color: burlywood;
  text-decoration: none;
}

#about:hover {
  background: var(--theme-background);
  cursor: pointer;
}

#work:hover {
  background: var(--theme-background);
  cursor: pointer;
}

#middle table {
  width: 30%;
  margin: 6vh auto;
}

#middle table tr td {
  text-align: center;
}

.back:hover {
  cursor: pointer;
}

.social {
  color: #fff;
  font-size: 30px;
  transition: 0.4s ease-in-out;
  margin: 0px 8px;
  text-align: center;
}

.social:hover {
  cursor: pointer;
}

.container {
  width: 90vw;
  height: 90vh;
  padding: 5vh 5vw;
  color: #fff;
  background: var(--theme-background);
  z-index: 9;
  position: fixed;
  max-height: 100vh;
  overflow-y: auto;
  display: none;
}

.container div {
  font-size: 25px;
  margin: 20px 0;
  transition: 0.4s ease-in-out;
}

.container section {
  margin: 8vh 0;
}

#used > div {
  font-size: 16px !important;
  display: inline-block;
  padding: 12px 15px;
  border: 2px solid #fff;
  margin: 4px 10px;
  border-radius: 50px;
}

.container h1 {
  font-size: 50px;
  text-decoration: underline;
}

.container h2 {
  font-size: 30px;
}

.container p {
  font-size: 20px;
}

.btn_one {
  font-size: 18px;
  color: #fff;
  background: transparent;
  border: 3px solid #fff;
  padding: 8px 40px;
  border-radius: 80px;
  font-weight: bold;
  transition: 0.4s ease-in-out;
  font-family: "Poppins", sans-serif;
}

.btn_one:hover {
  cursor: pointer;
  color: var(--theme-background);
  background: #fff;
}

.btn_two {
  font-size: 18px;
  color: var(--theme-background);
  background: #fff;
  border: 3px solid #fff;
  padding: 8px 40px;
  border-radius: 80px;
  font-weight: bold;
  margin: 2vh 10px;
  transition: 0.4s ease-in-out;
}

.btn_two:hover {
  cursor: pointer;
  padding: 8px 60px;
}

#footer {
  color: #fff;
  width: 92vw;
  padding: 5vh 4vw;
  text-align: right;
  position: fixed;
  z-index: 1;
  bottom: 0;
  font-size: 16px;
  font-weight: bold;
}

#footer a {
  color: var(--theme-background);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: var(--theme-background);
}

::-webkit-scrollbar-thumb {
  background: #fff;
}

::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

::selection {
  color: #fff;
  background: #fff;
}

@media (max-width: 800px) {
  #about {
    display: none;
  }
  #skills {
    display: none;
  }
  #work {
    display: none;
  }
  #footer {
    text-align: center;
  }
  #middle {
    width: 90vw;
    padding: 0 5vw;
  }
  #middle table {
    width: 80%;
  }
  .container form input {
    width: 90%;
  }
  .container form textarea {
    width: 90%;
  }
  #menu {
    display: inline-block;
  }
  #onlywide {
    display: none !important;
  }
  .box2 {
    margin-left: 0 !important;
  }
  #box div {
    width: 100%;
  }
  .aboutMe {
    display: grid;
    grid-template-columns: 1fr;
  }
  .skills {
    display: grid;
    grid-template-columns: 1fr;
  }
}
